USE [OkulSabahDB]
GO
/****** Object:  Table [dbo].[Bolumler]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[BolumlerID] [int] IDENTITY(1,1) NOT NULL,
	[BolumAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bolumler] PRIMARY KEY CLUSTERED 
(
	[BolumlerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Branslar]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branslar](
	[BranslarID] [int] IDENTITY(1,1) NOT NULL,
	[BransAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Branslar] PRIMARY KEY CLUSTERED 
(
	[BranslarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dersler]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[DerslerID] [int] IDENTITY(1,1) NOT NULL,
	[DersAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Dersler] PRIMARY KEY CLUSTERED 
(
	[DerslerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdariKadro]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdariKadro](
	[IdariKadrolarID] [int] IDENTITY(1,1) NOT NULL,
	[UnvanAdi] [nvarchar](50) NULL,
	[OgretmenID] [int] NOT NULL,
	[DiplomaNumarası] [nvarchar](30) NULL,
 CONSTRAINT [PK_OgretmenUnvanlariID] PRIMARY KEY CLUSTERED 
(
	[IdariKadrolarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[iller]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iller](
	[illerID] [int] NOT NULL,
	[ilAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[illerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KanGruplari]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KanGruplari](
	[KanGruplariID] [int] IDENTITY(1,1) NOT NULL,
	[KanGrubuAdi] [nvarchar](10) NULL,
 CONSTRAINT [PK_KanGruplari] PRIMARY KEY CLUSTERED 
(
	[KanGruplariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullanicilarID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciTC] [nvarchar](11) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[KullaniciSifre] [nvarchar](50) NOT NULL,
	[YetkiID] [int] NOT NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[KullanicilarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kulupler]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kulupler](
	[KuluplerID] [int] NOT NULL,
	[KulupAdi] [nvarchar](50) NULL,
	[SorumluOgretmenID] [int] NULL,
	[YardimciOgretmenID] [int] NULL,
 CONSTRAINT [PK_Kulupler] PRIMARY KEY CLUSTERED 
(
	[KuluplerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notlar]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notlar](
	[NotlarID] [int] IDENTITY(1,1) NOT NULL,
	[HarfDegeri] [nvarchar](10) NULL,
	[SayısalDegeri] [nchar](10) NULL,
	[DersID] [int] NULL,
	[Sınav1Tarih] [date] NULL,
	[Sınav1] [decimal](18, 2) NULL,
	[Sınav2Tarih] [date] NULL,
	[Sınav2] [decimal](18, 2) NULL,
	[Odev1Tarih] [date] NULL,
	[Odev1] [decimal](18, 2) NULL,
	[Odev2Tarih] [date] NULL,
	[Odev2] [decimal](18, 2) NULL,
	[OgrenciID] [int] NULL,
	[ProjeID] [int] NULL,
	[Kanaat1] [decimal](18, 2) NULL,
	[KanaatTarihi1] [date] NULL,
	[Kanaat2] [decimal](18, 2) NULL,
	[KanaatTarihi2] [date] NULL,
 CONSTRAINT [PK_Notlar] PRIMARY KEY CLUSTERED 
(
	[NotlarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgrenciDers]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciDers](
	[OgrenciDersID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NULL,
	[OgrenciID] [int] NULL,
 CONSTRAINT [PK_OgrenciDers] PRIMARY KEY CLUSTERED 
(
	[OgrenciDersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgrenciIzin]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciIzin](
	[IzinID] [int] IDENTITY(1,1) NOT NULL,
	[IzinTuru] [nvarchar](50) NULL,
	[YoklamaID] [int] NULL,
	[BarkodNo] [nvarchar](50) NULL,
	[BaslangicTarihi] [date] NULL,
	[BitisTarihi] [date] NULL,
 CONSTRAINT [PK_OgrenciIzin] PRIMARY KEY CLUSTERED 
(
	[IzinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[OgrencilerID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciTC] [nvarchar](11) NULL,
	[OgrenciAdi] [nvarchar](50) NULL,
	[OgrenciSoyadi] [nvarchar](50) NULL,
	[Cinsiyeti] [nvarchar](10) NULL,
	[DogumTarihi] [date] NULL,
	[DogumYeriID] [int] NULL,
	[Adres] [nvarchar](max) NULL,
	[OgrenciKilo] [decimal](18, 2) NULL,
	[OgrenciBoy] [decimal](18, 2) NULL,
	[KanGrubuID] [int] NULL,
	[KullaniciID] [int] NULL,
	[SinifID] [int] NULL,
 CONSTRAINT [PK_Ogrenciler] PRIMARY KEY CLUSTERED 
(
	[OgrencilerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgrenciProje]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciProje](
	[OgrenciProjeID] [int] IDENTITY(1,1) NOT NULL,
	[ProjeID] [int] NULL,
	[OgrenciID] [int] NULL,
 CONSTRAINT [PK_OgrenciProje] PRIMARY KEY CLUSTERED 
(
	[OgrenciProjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgrenciTakim]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciTakim](
	[OgrenciTakimID] [int] IDENTITY(1,1) NOT NULL,
	[OkulTakimiID] [int] NULL,
	[OgrenciID] [int] NULL,
 CONSTRAINT [PK_OgrenciTakim,] PRIMARY KEY CLUSTERED 
(
	[OgrenciTakimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgrenciVeli]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciVeli](
	[OgrenciVeliID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciID] [int] NULL,
	[VeliID] [int] NULL,
 CONSTRAINT [PK_OgrenciVeli] PRIMARY KEY CLUSTERED 
(
	[OgrenciVeliID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgretmenBilgileri]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgretmenBilgileri](
	[OgretmenBilgileriID] [int] IDENTITY(1,1) NOT NULL,
	[OgretmenID] [int] NOT NULL,
	[GirisTarihi] [date] NOT NULL,
	[CikisTarihi] [date] NULL,
 CONSTRAINT [PK_OgretmenBilgileri] PRIMARY KEY CLUSTERED 
(
	[OgretmenBilgileriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgretmenDers]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgretmenDers](
	[OgretmenDersID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NULL,
	[OgretmenID] [int] NULL,
 CONSTRAINT [PK_OgretmenDers] PRIMARY KEY CLUSTERED 
(
	[OgretmenDersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgretmenIzin]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgretmenIzin](
	[OgretmenIzinleriID] [int] IDENTITY(1,1) NOT NULL,
	[IzinTuru] [nvarchar](50) NULL,
	[OgretmenID] [int] NULL,
	[BaslangicTarihi] [date] NULL,
	[BitisTarihi] [date] NULL,
 CONSTRAINT [PK_OgretmenIzin] PRIMARY KEY CLUSTERED 
(
	[OgretmenIzinleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ogretmenler]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmenler](
	[OgretmenlerID] [int] IDENTITY(1,1) NOT NULL,
	[OgretmenTC] [nvarchar](11) NULL,
	[OgretmenAdi] [nvarchar](50) NULL,
	[OgretmenSoyadi] [nvarchar](50) NULL,
	[Cinsiyet] [nvarchar](10) NULL,
	[Telefon] [nvarchar](20) NULL,
	[MedeniHali] [nvarchar](10) NULL,
	[DogumTarihi] [date] NULL,
	[DogumYeriID] [int] NULL,
	[Adres] [nvarchar](max) NULL,
	[KanGrubuID] [int] NULL,
	[BransID] [int] NULL,
	[KullaniciID] [int] NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Ogretmenler] PRIMARY KEY CLUSTERED 
(
	[OgretmenlerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgretmenProje]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgretmenProje](
	[OgretmenProjeID] [int] IDENTITY(1,1) NOT NULL,
	[ProjeID] [int] NULL,
	[OgretmenID] [int] NULL,
 CONSTRAINT [PK_OgretmenProje] PRIMARY KEY CLUSTERED 
(
	[OgretmenProjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OkulTakimi]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OkulTakimi](
	[OkulTakımiID] [int] IDENTITY(1,1) NOT NULL,
	[TakimAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_OkulTakimi] PRIMARY KEY CLUSTERED 
(
	[OkulTakımiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonelBilgileri]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelBilgileri](
	[PersonelBilgileriID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[GirisTarih] [date] NOT NULL,
	[CikisTarih] [date] NULL,
 CONSTRAINT [PK_PersonelBilgileri] PRIMARY KEY CLUSTERED 
(
	[PersonelBilgileriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personeller]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeller](
	[PersonellerID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelTC] [nvarchar](11) NULL,
	[PersonelAdi] [nvarchar](50) NULL,
	[PersonelSoyadi] [nvarchar](50) NULL,
	[Cinsiyet] [nvarchar](10) NULL,
	[Maas] [decimal](18, 2) NULL,
	[Telefon] [nvarchar](20) NULL,
	[DogumTarihi] [date] NULL,
	[DogumYeriID] [int] NULL,
	[HesapNumarasi] [nvarchar](21) NULL,
	[MedeniHali] [nvarchar](5) NULL,
	[KanGrubuID] [int] NULL,
	[Adres] [nvarchar](max) NULL,
	[KullanıcıID] [int] NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Personeller] PRIMARY KEY CLUSTERED 
(
	[PersonellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projeler]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projeler](
	[ProjelerID] [int] IDENTITY(1,1) NOT NULL,
	[ProjeAdi] [nvarchar](50) NULL,
	[ProjeNotu] [int] NULL,
	[ProjeTarih] [date] NULL,
 CONSTRAINT [PK_Projeler] PRIMARY KEY CLUSTERED 
(
	[ProjelerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sınıflar]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sınıflar](
	[SınıflarID] [int] IDENTITY(1,1) NOT NULL,
	[SınıfNo] [nvarchar](10) NULL,
	[SınıfSubesi] [nvarchar](10) NULL,
	[OgretmenID] [int] NULL,
	[BolumID] [int] NULL,
 CONSTRAINT [PK_Sınıflar] PRIMARY KEY CLUSTERED 
(
	[SınıflarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TakimOgretmenleri]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TakimOgretmenleri](
	[TakimOgretmenleriID] [int] IDENTITY(1,1) NOT NULL,
	[OgretmenID] [int] NULL,
	[TakimID] [int] NULL,
 CONSTRAINT [PK_TakimOgretmenleri] PRIMARY KEY CLUSTERED 
(
	[TakimOgretmenleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Veliler]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veliler](
	[VelilerID] [int] IDENTITY(1,1) NOT NULL,
	[VeliTC] [nvarchar](11) NULL,
	[VeliAdi] [nvarchar](50) NULL,
	[VeliSoyadi] [nvarchar](50) NULL,
	[Cinsiyet] [nvarchar](10) NULL,
	[DogumTarihi] [date] NULL,
	[DogumYeriID] [int] NULL,
	[Telefon] [nvarchar](50) NULL,
	[Adres] [nvarchar](max) NULL,
	[MedeniHali] [nvarchar](10) NULL,
	[KanGrubuID] [int] NULL,
	[KullaniciID] [int] NULL,
 CONSTRAINT [PK_Veliler] PRIMARY KEY CLUSTERED 
(
	[VelilerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yetkiler]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetkiler](
	[YetkilerID] [int] IDENTITY(1,1) NOT NULL,
	[YetkiAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Yetkiler] PRIMARY KEY CLUSTERED 
(
	[YetkilerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yoklama]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yoklama](
	[YoklamalarID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciID] [int] NULL,
	[YoklamaTarih] [date] NULL,
	[Devamsızlık] [nvarchar](10) NULL,
 CONSTRAINT [PK_Yoklama] PRIMARY KEY CLUSTERED 
(
	[YoklamalarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vw_OgrenciVelileri]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_OgrenciVelileri]
as
select o.OgrenciAdi,o.OgrenciSoyadi,v.VeliAdi,v.VeliSoyadi from Ogrenciler as o
join OgrenciVeli as ov on ov.OgrenciID=o.OgrencilerID
join veliler as v on v.VelilerID=ov.VeliID
GO
/****** Object:  View [dbo].[vw_VelisiOlmayanlar]    Script Date: 2.03.2019 10:34:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_VelisiOlmayanlar]
as
select o.OgrenciAdi,o.OgrenciSoyadi,v.VeliAdi,v.VeliSoyadi from Ogrenciler as o
left join OgrenciVeli as ov on ov.OgrenciID=o.OgrencilerID
left join veliler as v on v.VelilerID=ov.VeliID
where v.VelilerID is null
GO
SET IDENTITY_INSERT [dbo].[Bolumler] ON 

INSERT [dbo].[Bolumler] ([BolumlerID], [BolumAdi]) VALUES (1, N'Lise1')
INSERT [dbo].[Bolumler] ([BolumlerID], [BolumAdi]) VALUES (2, N'Sayısal')
INSERT [dbo].[Bolumler] ([BolumlerID], [BolumAdi]) VALUES (3, N'Sözel')
SET IDENTITY_INSERT [dbo].[Bolumler] OFF
SET IDENTITY_INSERT [dbo].[Branslar] ON 

INSERT [dbo].[Branslar] ([BranslarID], [BransAdi]) VALUES (1, N'Türkçe')
INSERT [dbo].[Branslar] ([BranslarID], [BransAdi]) VALUES (2, N'Müzik')
INSERT [dbo].[Branslar] ([BranslarID], [BransAdi]) VALUES (3, N'Tarih')
SET IDENTITY_INSERT [dbo].[Branslar] OFF
SET IDENTITY_INSERT [dbo].[Dersler] ON 

INSERT [dbo].[Dersler] ([DerslerID], [DersAdi]) VALUES (1, N'Geometri1')
INSERT [dbo].[Dersler] ([DerslerID], [DersAdi]) VALUES (2, N'Matematik1')
INSERT [dbo].[Dersler] ([DerslerID], [DersAdi]) VALUES (3, N'Dil Anlatim')
SET IDENTITY_INSERT [dbo].[Dersler] OFF
INSERT [dbo].[iller] ([illerID], [ilAdi]) VALUES (1, N'Adana')
INSERT [dbo].[iller] ([illerID], [ilAdi]) VALUES (2, N'Adıyaman')
INSERT [dbo].[iller] ([illerID], [ilAdi]) VALUES (3, N'Afyon')
SET IDENTITY_INSERT [dbo].[KanGruplari] ON 

INSERT [dbo].[KanGruplari] ([KanGruplariID], [KanGrubuAdi]) VALUES (1, N'A Rh+')
INSERT [dbo].[KanGruplari] ([KanGruplariID], [KanGrubuAdi]) VALUES (2, N'B Rh-')
INSERT [dbo].[KanGruplari] ([KanGruplariID], [KanGrubuAdi]) VALUES (3, N'A Rh-')
SET IDENTITY_INSERT [dbo].[KanGruplari] OFF
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullanicilarID], [KullaniciTC], [KullaniciAdi], [KullaniciSifre], [YetkiID]) VALUES (1, N'75000000100', N'Mualla', N'123', 1)
INSERT [dbo].[Kullanicilar] ([KullanicilarID], [KullaniciTC], [KullaniciAdi], [KullaniciSifre], [YetkiID]) VALUES (2, N'21124299999', N'Alparslan', N'1234', 1)
INSERT [dbo].[Kullanicilar] ([KullanicilarID], [KullaniciTC], [KullaniciAdi], [KullaniciSifre], [YetkiID]) VALUES (3, N'1597', N'alidem', N'12345789', 1)
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
SET IDENTITY_INSERT [dbo].[OgrenciDers] ON 

INSERT [dbo].[OgrenciDers] ([OgrenciDersID], [DersID], [OgrenciID]) VALUES (1, 1, 1)
INSERT [dbo].[OgrenciDers] ([OgrenciDersID], [DersID], [OgrenciID]) VALUES (2, 2, 1)
INSERT [dbo].[OgrenciDers] ([OgrenciDersID], [DersID], [OgrenciID]) VALUES (3, 5, 1)
GO
SET IDENTITY_INSERT [dbo].[OgrenciDers] OFF
SET IDENTITY_INSERT [dbo].[Ogrenciler] ON 

INSERT [dbo].[Ogrenciler] ([OgrencilerID], [OgrenciTC], [OgrenciAdi], [OgrenciSoyadi], [Cinsiyeti], [DogumTarihi], [DogumYeriID], [Adres], [OgrenciKilo], [OgrenciBoy], [KanGrubuID], [KullaniciID], [SinifID]) VALUES (1, N'21212211212', N'Pelin', N'Mor', N'Kadın', CAST(N'2002-01-07' AS Date), 7, N'Kadıköy', CAST(52.00 AS Decimal(18, 2)), CAST(1.76 AS Decimal(18, 2)), 2, 35, 5)
INSERT [dbo].[Ogrenciler] ([OgrencilerID], [OgrenciTC], [OgrenciAdi], [OgrenciSoyadi], [Cinsiyeti], [DogumTarihi], [DogumYeriID], [Adres], [OgrenciKilo], [OgrenciBoy], [KanGrubuID], [KullaniciID], [SinifID]) VALUES (2, N'14535487985', N'Pusat', N'Çakır', N'Erkek', CAST(N'2000-01-01' AS Date), 35, N'Kordon', CAST(120.00 AS Decimal(18, 2)), CAST(1.40 AS Decimal(18, 2)), 3, 25, 9)
INSERT [dbo].[Ogrenciler] ([OgrencilerID], [OgrenciTC], [OgrenciAdi], [OgrenciSoyadi], [Cinsiyeti], [DogumTarihi], [DogumYeriID], [Adres], [OgrenciKilo], [OgrenciBoy], [KanGrubuID], [KullaniciID], [SinifID]) VALUES (6, N'23323233233', N'Kemal su', N'durmaz', N'Erkek', CAST(N'1990-01-01' AS Date), 2, N'Bakırköy', CAST(76.00 AS Decimal(18, 2)), CAST(1.80 AS Decimal(18, 2)), 2, 38, 2)
GO
SET IDENTITY_INSERT [dbo].[Ogrenciler] OFF
SET IDENTITY_INSERT [dbo].[OgrenciVeli] ON 

INSERT [dbo].[OgrenciVeli] ([OgrenciVeliID], [OgrenciID], [VeliID]) VALUES (1, 21, 15)
INSERT [dbo].[OgrenciVeli] ([OgrenciVeliID], [OgrenciID], [VeliID]) VALUES (2, 21, 3)
INSERT [dbo].[OgrenciVeli] ([OgrenciVeliID], [OgrenciID], [VeliID]) VALUES (3, 31, 4)
SET IDENTITY_INSERT [dbo].[OgrenciVeli] OFF
SET IDENTITY_INSERT [dbo].[OgretmenBilgileri] ON 

INSERT [dbo].[OgretmenBilgileri] ([OgretmenBilgileriID], [OgretmenID], [GirisTarihi], [CikisTarihi]) VALUES (1, 1, CAST(N'2012-12-25' AS Date), NULL)
INSERT [dbo].[OgretmenBilgileri] ([OgretmenBilgileriID], [OgretmenID], [GirisTarihi], [CikisTarihi]) VALUES (2, 2, CAST(N'2018-01-03' AS Date), NULL)
INSERT [dbo].[OgretmenBilgileri] ([OgretmenBilgileriID], [OgretmenID], [GirisTarihi], [CikisTarihi]) VALUES (3, 3, CAST(N'2018-01-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[OgretmenBilgileri] OFF
SET IDENTITY_INSERT [dbo].[Ogretmenler] ON 

INSERT [dbo].[Ogretmenler] ([OgretmenlerID], [OgretmenTC], [OgretmenAdi], [OgretmenSoyadi], [Cinsiyet], [Telefon], [MedeniHali], [DogumTarihi], [DogumYeriID], [Adres], [KanGrubuID], [BransID], [KullaniciID], [AktifMi]) VALUES (1, N'24520941499', N'Oğuz', N'Irmak', N'Erkek', N'05363666636', N'Bekar', CAST(N'1996-10-07' AS Date), 36, N'ZB', 5, 16, 25, 1)
INSERT [dbo].[Ogretmenler] ([OgretmenlerID], [OgretmenTC], [OgretmenAdi], [OgretmenSoyadi], [Cinsiyet], [Telefon], [MedeniHali], [DogumTarihi], [DogumYeriID], [Adres], [KanGrubuID], [BransID], [KullaniciID], [AktifMi]) VALUES (2, N'12313113231', N'Dilaver', N'Yavuz', N'Erkek', N'05432231312', N'Bekar', CAST(N'1996-01-07' AS Date), 7, N'Kağıthane', 2, 14, 35, 1)
INSERT [dbo].[Ogretmenler] ([OgretmenlerID], [OgretmenTC], [OgretmenAdi], [OgretmenSoyadi], [Cinsiyet], [Telefon], [MedeniHali], [DogumTarihi], [DogumYeriID], [Adres], [KanGrubuID], [BransID], [KullaniciID], [AktifMi]) VALUES (3, N'19071907993', N'Mert', N'İnciroğlu', N'Erkek', N'232323', N'Bekar', CAST(N'1971-08-08' AS Date), 32, N'Şişli', NULL, 8, 32, NULL)
SET IDENTITY_INSERT [dbo].[Ogretmenler] OFF
SET IDENTITY_INSERT [dbo].[Sınıflar] ON 

INSERT [dbo].[Sınıflar] ([SınıflarID], [SınıfNo], [SınıfSubesi], [OgretmenID], [BolumID]) VALUES (2, N'9', N'A', 1, 1)
INSERT [dbo].[Sınıflar] ([SınıflarID], [SınıfNo], [SınıfSubesi], [OgretmenID], [BolumID]) VALUES (3, N'9', N'B', 2, 1)
INSERT [dbo].[Sınıflar] ([SınıflarID], [SınıfNo], [SınıfSubesi], [OgretmenID], [BolumID]) VALUES (4, N'9', N'C', 3, 1)
SET IDENTITY_INSERT [dbo].[Sınıflar] OFF
SET IDENTITY_INSERT [dbo].[Veliler] ON 

INSERT [dbo].[Veliler] ([VelilerID], [VeliTC], [VeliAdi], [VeliSoyadi], [Cinsiyet], [DogumTarihi], [DogumYeriID], [Telefon], [Adres], [MedeniHali], [KanGrubuID], [KullaniciID]) VALUES (1, N'12345678915', N'Kül Tigin', N'Turhanoğulları', N'Erkek', CAST(N'1915-02-03' AS Date), 71, NULL, N'Hamşu', N'Dul', 5, 25)
INSERT [dbo].[Veliler] ([VelilerID], [VeliTC], [VeliAdi], [VeliSoyadi], [Cinsiyet], [DogumTarihi], [DogumYeriID], [Telefon], [Adres], [MedeniHali], [KanGrubuID], [KullaniciID]) VALUES (2, N'12122112221', N'Arif', N'Mor', N'Erkek', CAST(N'1990-01-01' AS Date), 7, N'05344423212', N'Kadıköy', N'Evli', 2, 35)
INSERT [dbo].[Veliler] ([VelilerID], [VeliTC], [VeliAdi], [VeliSoyadi], [Cinsiyet], [DogumTarihi], [DogumYeriID], [Telefon], [Adres], [MedeniHali], [KanGrubuID], [KullaniciID]) VALUES (3, N'11212221121', N'Mehmet', N'Kara', N'Erkek', CAST(N'1990-01-01' AS Date), 7, N'05344221212', N'Üsküdar', N'Evli', 2, 35)
SET IDENTITY_INSERT [dbo].[Veliler] OFF
SET IDENTITY_INSERT [dbo].[Yetkiler] ON 

INSERT [dbo].[Yetkiler] ([YetkilerID], [YetkiAdi]) VALUES (1, N'Öğretmen')
INSERT [dbo].[Yetkiler] ([YetkilerID], [YetkiAdi]) VALUES (2, N'Öğrenci')
INSERT [dbo].[Yetkiler] ([YetkilerID], [YetkiAdi]) VALUES (3, N'Personeller')
SET IDENTITY_INSERT [dbo].[Yetkiler] OFF
ALTER TABLE [dbo].[IdariKadro]  WITH CHECK ADD  CONSTRAINT [FK_IdariKadro_Ogretmenler] FOREIGN KEY([OgretmenID])
REFERENCES [dbo].[Ogretmenler] ([OgretmenlerID])
GO
ALTER TABLE [dbo].[IdariKadro] CHECK CONSTRAINT [FK_IdariKadro_Ogretmenler]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Yetkiler] FOREIGN KEY([YetkiID])
REFERENCES [dbo].[Yetkiler] ([YetkilerID])
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Yetkiler]
GO
ALTER TABLE [dbo].[Notlar]  WITH CHECK ADD  CONSTRAINT [FK_Notlar_Dersler] FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DerslerID])
GO
ALTER TABLE [dbo].[Notlar] CHECK CONSTRAINT [FK_Notlar_Dersler]
GO
ALTER TABLE [dbo].[Notlar]  WITH CHECK ADD  CONSTRAINT [FK_Notlar_Ogrenciler] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenciler] ([OgrencilerID])
GO
ALTER TABLE [dbo].[Notlar] CHECK CONSTRAINT [FK_Notlar_Ogrenciler]
GO
ALTER TABLE [dbo].[OgrenciDers]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDers_Dersler] FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DerslerID])
GO
ALTER TABLE [dbo].[OgrenciDers] CHECK CONSTRAINT [FK_OgrenciDers_Dersler]
GO
ALTER TABLE [dbo].[OgrenciDers]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDers_Ogrenciler] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenciler] ([OgrencilerID])
GO
ALTER TABLE [dbo].[OgrenciDers] CHECK CONSTRAINT [FK_OgrenciDers_Ogrenciler]
GO
ALTER TABLE [dbo].[OgrenciIzin]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciIzin_Yoklama] FOREIGN KEY([YoklamaID])
REFERENCES [dbo].[Yoklama] ([YoklamalarID])
GO
ALTER TABLE [dbo].[OgrenciIzin] CHECK CONSTRAINT [FK_OgrenciIzin_Yoklama]
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK_Ogrenciler_iller] FOREIGN KEY([DogumYeriID])
REFERENCES [dbo].[iller] ([illerID])
GO
ALTER TABLE [dbo].[Ogrenciler] CHECK CONSTRAINT [FK_Ogrenciler_iller]
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK_Ogrenciler_KanGruplari] FOREIGN KEY([KanGrubuID])
REFERENCES [dbo].[KanGruplari] ([KanGruplariID])
GO
ALTER TABLE [dbo].[Ogrenciler] CHECK CONSTRAINT [FK_Ogrenciler_KanGruplari]
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK_Ogrenciler_Sınıflar] FOREIGN KEY([SinifID])
REFERENCES [dbo].[Sınıflar] ([SınıflarID])
GO
ALTER TABLE [dbo].[Ogrenciler] CHECK CONSTRAINT [FK_Ogrenciler_Sınıflar]
GO
ALTER TABLE [dbo].[OgrenciProje]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciProje_Ogrenciler] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenciler] ([OgrencilerID])
GO
ALTER TABLE [dbo].[OgrenciProje] CHECK CONSTRAINT [FK_OgrenciProje_Ogrenciler]
GO
ALTER TABLE [dbo].[OgrenciProje]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciProje_Projeler] FOREIGN KEY([ProjeID])
REFERENCES [dbo].[Projeler] ([ProjelerID])
GO
ALTER TABLE [dbo].[OgrenciProje] CHECK CONSTRAINT [FK_OgrenciProje_Projeler]
GO
ALTER TABLE [dbo].[OgrenciTakim]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciTakim_Ogrenciler] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenciler] ([OgrencilerID])
GO
ALTER TABLE [dbo].[OgrenciTakim] CHECK CONSTRAINT [FK_OgrenciTakim_Ogrenciler]
GO
ALTER TABLE [dbo].[OgrenciTakim]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciTakim_OkulTakimi] FOREIGN KEY([OkulTakimiID])
REFERENCES [dbo].[OkulTakimi] ([OkulTakımiID])
GO
ALTER TABLE [dbo].[OgrenciTakim] CHECK CONSTRAINT [FK_OgrenciTakim_OkulTakimi]
GO
ALTER TABLE [dbo].[OgrenciVeli]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciVeli_Ogrenciler] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenciler] ([OgrencilerID])
GO
ALTER TABLE [dbo].[OgrenciVeli] CHECK CONSTRAINT [FK_OgrenciVeli_Ogrenciler]
GO
ALTER TABLE [dbo].[OgrenciVeli]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciVeli_Veliler] FOREIGN KEY([VeliID])
REFERENCES [dbo].[Veliler] ([VelilerID])
GO
ALTER TABLE [dbo].[OgrenciVeli] CHECK CONSTRAINT [FK_OgrenciVeli_Veliler]
GO
ALTER TABLE [dbo].[OgretmenBilgileri]  WITH CHECK ADD  CONSTRAINT [FK_OgretmenBilgileri_Ogretmenler] FOREIGN KEY([OgretmenID])
REFERENCES [dbo].[Ogretmenler] ([OgretmenlerID])
GO
ALTER TABLE [dbo].[OgretmenBilgileri] CHECK CONSTRAINT [FK_OgretmenBilgileri_Ogretmenler]
GO
ALTER TABLE [dbo].[OgretmenDers]  WITH CHECK ADD  CONSTRAINT [FK_OgretmenDers_Dersler] FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DerslerID])
GO
ALTER TABLE [dbo].[OgretmenDers] CHECK CONSTRAINT [FK_OgretmenDers_Dersler]
GO
ALTER TABLE [dbo].[OgretmenDers]  WITH CHECK ADD  CONSTRAINT [FK_OgretmenDers_Ogretmenler] FOREIGN KEY([OgretmenID])
REFERENCES [dbo].[Ogretmenler] ([OgretmenlerID])
GO
ALTER TABLE [dbo].[OgretmenDers] CHECK CONSTRAINT [FK_OgretmenDers_Ogretmenler]
GO
ALTER TABLE [dbo].[OgretmenIzin]  WITH CHECK ADD  CONSTRAINT [FK_OgretmenIzin_Ogretmenler] FOREIGN KEY([OgretmenID])
REFERENCES [dbo].[Ogretmenler] ([OgretmenlerID])
GO
ALTER TABLE [dbo].[OgretmenIzin] CHECK CONSTRAINT [FK_OgretmenIzin_Ogretmenler]
GO
ALTER TABLE [dbo].[Ogretmenler]  WITH CHECK ADD  CONSTRAINT [FK_Ogretmenler_Branslar] FOREIGN KEY([BransID])
REFERENCES [dbo].[Branslar] ([BranslarID])
GO
ALTER TABLE [dbo].[Ogretmenler] CHECK CONSTRAINT [FK_Ogretmenler_Branslar]
GO
ALTER TABLE [dbo].[Ogretmenler]  WITH CHECK ADD  CONSTRAINT [FK_Ogretmenler_iller] FOREIGN KEY([DogumYeriID])
REFERENCES [dbo].[iller] ([illerID])
GO
ALTER TABLE [dbo].[Ogretmenler] CHECK CONSTRAINT [FK_Ogretmenler_iller]
GO
ALTER TABLE [dbo].[Ogretmenler]  WITH CHECK ADD  CONSTRAINT [FK_Ogretmenler_KanGruplari] FOREIGN KEY([KanGrubuID])
REFERENCES [dbo].[KanGruplari] ([KanGruplariID])
GO
ALTER TABLE [dbo].[Ogretmenler] CHECK CONSTRAINT [FK_Ogretmenler_KanGruplari]
GO
ALTER TABLE [dbo].[OgretmenProje]  WITH CHECK ADD  CONSTRAINT [FK_OgretmenProje_Ogretmenler] FOREIGN KEY([OgretmenID])
REFERENCES [dbo].[Ogretmenler] ([OgretmenlerID])
GO
ALTER TABLE [dbo].[OgretmenProje] CHECK CONSTRAINT [FK_OgretmenProje_Ogretmenler]
GO
ALTER TABLE [dbo].[OgretmenProje]  WITH CHECK ADD  CONSTRAINT [FK_OgretmenProje_Projeler] FOREIGN KEY([ProjeID])
REFERENCES [dbo].[Projeler] ([ProjelerID])
GO
ALTER TABLE [dbo].[OgretmenProje] CHECK CONSTRAINT [FK_OgretmenProje_Projeler]
GO
ALTER TABLE [dbo].[PersonelBilgileri]  WITH CHECK ADD  CONSTRAINT [FK_PersonelBilgileri_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[PersonelBilgileri] CHECK CONSTRAINT [FK_PersonelBilgileri_Personeller]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [FK_Personeller_iller] FOREIGN KEY([DogumYeriID])
REFERENCES [dbo].[iller] ([illerID])
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [FK_Personeller_iller]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [FK_Personeller_KanGruplari] FOREIGN KEY([KanGrubuID])
REFERENCES [dbo].[KanGruplari] ([KanGruplariID])
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [FK_Personeller_KanGruplari]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [FK_Personeller_Kullanicilar] FOREIGN KEY([KullanıcıID])
REFERENCES [dbo].[Kullanicilar] ([KullanicilarID])
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [FK_Personeller_Kullanicilar]
GO
ALTER TABLE [dbo].[Sınıflar]  WITH CHECK ADD  CONSTRAINT [FK_Sınıflar_Bolumler] FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bolumler] ([BolumlerID])
GO
ALTER TABLE [dbo].[Sınıflar] CHECK CONSTRAINT [FK_Sınıflar_Bolumler]
GO
ALTER TABLE [dbo].[Sınıflar]  WITH CHECK ADD  CONSTRAINT [FK_Sınıflar_Ogretmenler] FOREIGN KEY([OgretmenID])
REFERENCES [dbo].[Ogretmenler] ([OgretmenlerID])
GO
ALTER TABLE [dbo].[Sınıflar] CHECK CONSTRAINT [FK_Sınıflar_Ogretmenler]
GO
ALTER TABLE [dbo].[TakimOgretmenleri]  WITH CHECK ADD  CONSTRAINT [FK_TakimOgretmenleri_Ogretmenler] FOREIGN KEY([OgretmenID])
REFERENCES [dbo].[Ogretmenler] ([OgretmenlerID])
GO
ALTER TABLE [dbo].[TakimOgretmenleri] CHECK CONSTRAINT [FK_TakimOgretmenleri_Ogretmenler]
GO
ALTER TABLE [dbo].[TakimOgretmenleri]  WITH CHECK ADD  CONSTRAINT [FK_TakimOgretmenleri_OkulTakimi] FOREIGN KEY([TakimID])
REFERENCES [dbo].[OkulTakimi] ([OkulTakımiID])
GO
ALTER TABLE [dbo].[TakimOgretmenleri] CHECK CONSTRAINT [FK_TakimOgretmenleri_OkulTakimi]
GO
ALTER TABLE [dbo].[Veliler]  WITH CHECK ADD  CONSTRAINT [FK_Veliler_iller] FOREIGN KEY([DogumYeriID])
REFERENCES [dbo].[iller] ([illerID])
GO
ALTER TABLE [dbo].[Veliler] CHECK CONSTRAINT [FK_Veliler_iller]
GO
ALTER TABLE [dbo].[Veliler]  WITH CHECK ADD  CONSTRAINT [FK_Veliler_KanGruplari] FOREIGN KEY([KanGrubuID])
REFERENCES [dbo].[KanGruplari] ([KanGruplariID])
GO
ALTER TABLE [dbo].[Veliler] CHECK CONSTRAINT [FK_Veliler_KanGruplari]
GO
ALTER TABLE [dbo].[Yoklama]  WITH CHECK ADD  CONSTRAINT [FK_Yoklama_Ogrenciler] FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenciler] ([OgrencilerID])
GO
ALTER TABLE [dbo].[Yoklama] CHECK CONSTRAINT [FK_Yoklama_Ogrenciler]
GO
